
<div class="row marketing">

<b><font color="blue"><h1><%= __('UserProfile')%></h1></font></b>
        <div class="col-lg-6">
          <label for="ideaTitle"><b><%= __('Name')%></b></label>
          <p><%= info.NAME %></p>

          <label for="ideaTitle"><b><%= __('Country')%></b></label>
          <p><%= info.COUNTRY %></p>

          <label for="ideaTitle"><b><%= __('SerialNO')%></b></label>
          <p><%= info.CNUM %></p>
                    <label for="ideaTitle"><b><%= __('Title')%></b></label>
          <p><%= info.JOBRESPONSIB %></p>
        </div>

        <div class="col-lg-6">
         <label for="ideaTitle"><b><%= __('IsManager')%></b></label>
          <p><%= info.MGR %></p>

         <label for="ideaTitle"><b><%= __('Tel')%></b></label>
          <p><%= info.XPHONE %></p>

         <label for="ideaTitle"><b><%= __('NotesID')%></b></label>
          <p><%= info.NOTEID %></p>
        </div>
        
      </div>
       <hr>
<div class="row marketing">
<b><font color="blue"><h1><%= __('CoursesYouHaveWatched')%></h1></font></b>
      <div class="col-lg-6">


<% profileResults.forEach(function(profileResult, index) { 
  %>

    <div class="row" >
        <div class="span4">
            <p class="text-left"> <i class="icon-star"></i><b><%= __('CourseName')%><%= profileResult.coursename %></p>
            <p class="text-left"><i class="icon-flag"></i><b><%= __('WatchTime')%><%= profileResult.times %></p>
        </div>
    </div><!-- end row -->
      <hr>
<%}) %>
</div>
</div>