
<b> <font color="blue"><h1><%= __('GrowingFootPrint')%></h1></font></b>

 <hr>
<% profileResults.forEach(function(profileResult, index) { 
  %>

    <div class="row" >
        <div class="span4">
            <p class="text-left"> <i class="icon-star"></i><b><%= __('CourseName')%><%= profileResult.coursename %></p>
            <p class="text-left"><i class="icon-flag"></i><b><%= __('WatchTime')%><%= profileResult.times %></p>
        </div>
    </div><!-- end row -->
      <hr>
<%}) %>