<div class="row" >
 
	<div class="span4">
    <p class="text-left"> <i class="icon-calendar"></i><b>V2.0Beta 2014.7</b></p>
    <ul>
    <p class="text-left"><i class="icon-star"></i><%= __('VersionRecord2.4')%></p>
    <p class="text-left"><i class="icon-star"></i><%= __('VersionRecord2.3')%></p>
    <p class="text-left"><i class="icon-star"></i><%= __('VersionRecord2.2')%></p>
    <p class="text-left"><i class="icon-star"></i><%= __('VersionRecord2.1')%></p>
    </ul>
    <hr>

    <p class="text-left"> <i class="icon-calendar"></i><b>V1.0 2013</b></p>
    <ul>
    <p class="text-left"><i  class="icon-star"></i><%= __('VersionRecord1')%></p>
    </ul>
    <hr>


    </div>